<launch>
 
  <arg name="lim_drive"     default="0.3"/>
  <arg name="lim_steer"     default="0.5"/>
  <arg name="duino_enc"     default="/dev/ttyACM2"/> 
  <arg name="duino_arm"     default="/dev/ttyACM1"/>
  <arg name="duino_drill"   default="/dev/ttyUSB0"/>

  <env name='ROS_IP' value='192.168.1.199'/>
  <!-- <env name='ROS_IP' value='10.0.5.2'/> -->

  <node name="underling_mk2" pkg="rover" type="underling_mk2" output="screen" args="$(arg lim_drive) $(arg lim_steer)"/>
  <node name="balltracker" type="TennisBallTracker.py" pkg="rover"/>
  <node name="sanity" pkg="sanity" type="sanity" output="screen"/>

  <!--node name="serial_node_enc" pkg="rosserial_python" type="serial_node.py" output="screen" args="$(arg duino_enc)"/-->
  <node name="serial_node_arm" pkg="rosserial_python" type="serial_node.py" output="screen" args="$(arg duino_arm)"/>
  <!--node name="serial_node_drill" pkg="rosserial_python" type="serial_node.py" output="screen" args="$(arg duino_drill)"/-->
  
  <!-- Fake lat/long is for the location of the workshop. -->
  <include file="$(find autopilot)/launch/autopilot.launch"/>
  <!-- Fake lat/long is for the location of the workshop. -->
  <node name="gps" pkg="gps" type="gps" output="screen"/>
  
  <include file="$(find urg_node)/launch/urg_lidar.launch"/> 
  
  <node name="bearing" pkg="rtimulib_ros" type="rtimulib_ros" output="screen"/>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  <!--include file="$(find comms)/launch/rover_comms.launch"/-->

</launch>
