<launch>

  <arg name="lim_drive" default="0.3"/>
  <arg name="lim_steer" default="0.5"/>
  <arg name="max_steer_mod" default="0.5"/>
  <arg name="duino_enc" default="/dev/ttyACM0"/> 
  <arg name="duino_arm" default="/dev/ttyUSB0"/> 
  <arg name="duino_drill" default="/dev/ttyUSB1"/> 

  <!--
  <arg name="K_p" default="0"/>
  <arg name="K_i" default="0"/>
  <arg name="K_d" default="0"/>
  <arg name="set_rpm" default="20"/>
  -->

  <!--
  <include file="$(find comms)/launch/rover_comms.launch"/>
  -->

  <node name="underling_mk2" pkg="rover" type="underling_mk2" output="screen" args="$(arg lim_drive) $(arg lim_steer) $(arg max_steer_mod)"/>

  <node name="serial_node_enc" pkg="rosserial_python" type="serial_node.py" output="screen" args="$(arg duino_enc)"/>
  <node name="serial_node_arm" pkg="rosserial_python" type="serial_node.py" output="screen" args="$(arg duino_arm)"/>
  <node name="serial_node_drill" pkg="rosserial_python" type="serial_node.py" output="screen" args="$(arg duino_drill)"/>

	<node name="glen" pkg="autopilot" type="glen.py" output="screen"/>
	<node name="autopilot" pkg="autopilot" type="autopilot" output="screen"/>

  <node name="gps" pkg="gps" type="gps" output="screen"/>
  <node name="balltracker" type="TennisBallTracker.py" pkg="rover" />

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  
</launch>
