<launch>

  <arg name="lim_drive" default="0.3"/>
  <arg name="lim_steer" default="0.5"/>
  <arg name="K_p" default="0"/>
  <arg name="K_i" default="0"/>
  <arg name="K_d" default="0"/>
  <arg name="set_rpm" default="0"/>
  <arg name="duino_dev" default="/dev/ttyACM0"/>

  <!--
  <include file="$(find comms)/launch/rover_comms.launch"/>
  -->

  <node name="underling" pkg="rover" type="underling" output="screen" args="$(arg lim_drive) $(arg lim_steer) $(arg K_p) $(arg K_i) $(arg K_d) $(arg set_rpm)"/>

  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen" args="$(arg duino_dev)"/>

  <node name="gps" pkg="gps" type="gps" output="screen"/>
  
</launch>
